@using BCBlog.Client.Models
@using BCBlog.Client.Services.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@inject ICommentDTOService CommentService


<EditForm Model="newComment" OnValidSubmit="HandleSubmit" class="row">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="col-12 d-flex flex-column">
        <div class="mb-2 flex-fill vstack">
            <label class="form-label mt-2"><h4>Write a Comment:</h4></label>
            <TinyMCE.Blazor.Editor ScriptSrc="/tinymce/tinymce.min.js" @bind-Value="newComment!.Content"
                                   Field="() => newComment!.Content"
                                   ClassName="rich-text-editor"
                                   Conf="editorConfig" />
            <ValidationMessage For="() => newComment.Content"></ValidationMessage>
        </div>
        <div class="row d-flex">
            <div class="col-12 text-end mb-4"><button type="submit" class="btn btn-primary">Save</button></div>
        </div>
    </div>
</EditForm>


@if (BlogPostComments != null)
{
    <h4 class="mt-4">Comments:</h4>
    <hr />
    @foreach (CommentDTO comment in BlogPostComments)
    {
        <CommentsList @rendermode="InteractiveServer" Comment="comment" userInfo="userInfo" DeleteTheComment="HandleDelete" UpdateTheComment="HandleUpdate"/>
    }

}

@code {
    //tested
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    [Parameter]
    public BlogPostDTO? BlogPost { get; set; }

    private IEnumerable<CommentDTO> BlogPostComments = [];
    private CommentDTO newComment = new CommentDTO();
    private string? imageError;
    private string? fileError;
    private UserInfo? userInfo;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            newComment.AuthorId = userInfo?.UserId;
            newComment.AuthorName = userInfo?.FullName;
            newComment.BlogPostId = BlogPost!.Id;
            newComment.AuthorImageUrl = userInfo?.ProfilePictureUrl;

            BlogPostComments = await CommentService.GetBlogPostCommentsAsync(BlogPost.Id);

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            newComment = new CommentDTO()
                {
                    AuthorId = userInfo!.UserId,
                    AuthorName = userInfo!.FullName,
                    BlogPostId = BlogPost!.Id,
                    AuthorImageUrl = userInfo!.ProfilePictureUrl,
                    Content = newComment?.Content,
                };

            await CommentService.CreateCommentAsync(newComment!);
            BlogPostComments = await CommentService.GetBlogPostCommentsAsync(BlogPost!.Id);

            newComment = new CommentDTO();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task HandleUpdate(CommentDTO comment)
    {
        try
        {
            await CommentService.UpdateCommentAsync(comment);
            BlogPostComments = await CommentService.GetBlogPostCommentsAsync(BlogPost!.Id);

        }
        catch (Exception ex)
        {

            Console.WriteLine(ex);
        }
    }

    private async Task HandleDelete(int commentId)
    {
        try
        {
            await CommentService.DeleteCommentAsync(commentId);
            BlogPostComments = await CommentService.GetBlogPostCommentsAsync(BlogPost!.Id);

        }
        catch (Exception ex)
        {

            Console.WriteLine(ex);
        }
    }
    private static readonly Dictionary<string, object> editorConfig = new()
    {
        { "toolbar", "undo redo | bold italic underline | link codesample " },
        { "plugins", "anchor autolink link charmap preview table codesample" },
        { "default_link_target", "_blank" },
        { "link_assume_external_targets", true },
        { "link_context_toolbar", true },
        { "codesample_languages", new object[] {
                new { text = "HTML/XML", value = "markup" },
                new { text = "JavaScript", value = "javascript" },
                new { text = "CSS", value = "css" },
                new { text = "C#", value = "csharp" },
                new { text = "Razor", value = "razor" },
                new { text = "JSON", value = "json" },
    }},
        { "codesample_global_prismjs", true },
        { "promotion", false },
        { "height", "100%" },
    };
}
